.box1 {
    display: grid;
    position: absolute;
    width: 30%;
    height: 55%;
    margin-left:2.5%;
    margin-top: 5%;
    background-color: aqua;
}

.box2 {
    display: grid;
    position: absolute;
    width: 30%;
    height: 55%;
    margin-left:35%;
    margin-top: 5%;
    background-color: green;
}

.box3 {
    display: grid;
    position: absolute;
    width: 30%;
    height: 55%;  
    margin-left: 67.5%;
    margin-top: 5%;
    background-color: pink;
}

.circle {
    border-radius: 50%;
    display: grid;
    position: absolute;
    width: 30%;
    height: 55%;
    margin-left:35%;
    margin-top: 20%;
    background-color: purple;
    text-align: center;
}

.text-box h3 {
    font-size: 2vw;
    color: black;
    display: flex;
    max-width: 64%;
    margin-left: 18vw;
    margin-top: 52%;
    display: flex;
    position: absolute;
}

.text-box p1 {
    font-size: 1.5vw;
    display: flex;
    position: absolute;
    text-align: left;
    color: black;
    font-weight: bold;
    margin-left: 10vw;
    margin-top: 57%;
}

.text-box p2 {
    font-size: 1.5vw;
    display: flex;
    position: absolute;
    text-align: left;
    color: black;
    font-weight: bold;
    margin-left: 50vw;
    margin-top: 57%;
}

.text-box div1 input{

    display: flex;
    position: absolute;
    margin-left: 16vw;
    margin-top: 56.8%;
    width: 30vw;
    height: 2vw;
}

.text-box div2 input{

    display: flex;
    position: absolute;
    margin-left: 56vw;
    margin-top: 102.2vh;
    width: 30vw;
    height: 2vw;
}

.text-box div3 input{

    width: 10%;
    height: 3vw;
    font-size: 40px;
    font-weight: bold;
    margin-top: 62%;
    text-transform: uppercase;
}

.text-box div3  {
    text-align: center;
}